/* Set the font family and background color for the entire website */
body {
  font-family: Arial, sans-serif;
  background-color: linear-gradient(to bottom, #161616, #0077ff);
}

/* Style the header section */
header {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Style the navigation menu */
nav {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background-color: #555;
  color: #ffffff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 100%;
}

nav a {
  color: #2a165a;
  text-decoration: none;
}

/* Style the main content area */
main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Style the footer section */
footer {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}